body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0d47a1, #004d40); /* Темно-синий и тёмно-зелёный градиент */
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #004d40; /* Тёмно-зелёный */
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: 3px solid #00796b; /* Чуть светлее зелёный */
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

header li {
    margin: 0 10px;
}

header #branding {
    float: left;
    padding-left: 20px;
}

header #branding h1 {
    margin: 0;
}

section {
    padding: 20px;
    background: #ffffff;
    color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background: #004d40;
    text-align: center;
}
